@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #201113;
  --color-surface: #58262E;
  --color-primary: #D9A6AE;
  --color-secondary: #AEA6D9;

  --font-sans: "Lilex", monospace;
  --font-mono: "Lilex", monospace;
}

body {
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  html {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.35) transparent;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 999px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}